# Virtual env
.venv/

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Mac
.DS_Store

# Results (optional, you can keep or ignore later)
results/models/
results/logs/
results/plots/
src/results/
results/part01/

# VSCode
.vscode/
